* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
}

.header {
    width: 100%;
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 47px auto;
    justify-content: space-around;

}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin-right: 34px;
    margin-bottom: 34px;
  }


.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

.back-face {
    transform: rotateY(180deg);
  }

.flip .back-face {
    transform: rotateY(0deg);
  }

.flip .front-face {
    transform: rotateY(-180deg);
  }
.front-face img {
    width: 100px;
    height: 100px;
}
.back-face img {
    width: 100px;
    height: 100px;
}


@media (max-width: 935px) {
    .container {
        width: 100%;
        flex-direction: column;
        margin: auto 50%;
    }
    
}